@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Inter:wght@300;400;500&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-warm-terracotta: #e07a5f;
  --color-hover-terracotta: #d4634a; /* "darker terracota" */
  --color-soft-teal-1: #5e9ca2;
  --color-soft-teal-2: #3a7d7e;
  --color-earthy-beige: #f5f3eb;
  --color-soft-yellow: #f2cc87;
  --color-light-forest-green: #81b29a;
  --color-forest-green: #487961;

  --font-family-heading: "Playfair Display", serif;
  --font-family-body: "Inter", sans-serif;
}

/* utility classes */
.font-heading {
  font-family: "Playfair Display", serif;
}

.font-body {
  font-family: "Inter", sans-serif;
}

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

.alert-error {
  background-color: #fee2e2;
  border: 1px solid #fca5a5;
  color: #dc2626;
  padding: 0.75rem;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
}

.alert-success {
  background-color: #d1fae5;
  border: 1px solid #6ee7b7;
  color: #059669;
  padding: 0.75rem;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
}
#mobile-menu .overflow-y-auto::-webkit-scrollbar {
  width: 8px;
}

#mobile-menu .overflow-y-auto::-webkit-scrollbar-track {
  border-radius: 9999px;
  background-color: var(--color-forest-green);
}

#mobile-menu .overflow-y-auto::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: color-mix(
    in srgb,
    var(--color-earthy-beige) 50%,
    transparent
  );
}

#mobile-menu .overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-earthy-beige);
}

/* Firefox support */
#mobile-menu .overflow-y-auto {
  scrollbar-width: thin;
  scrollbar-color: color-mix(
      in srgb,
      var(--color-earthy-beige) 50%,
      transparent
    )
    var(--color-forest-green);
}
